## Assignment vs Equality Operator

In [20]:
# The assignment operator (=) is used to assign value to a variable.
# For example
x = 7
y = 9
z = "Alpha"
is_blue = True

# The equality operator (==) is used to compare two values for equality. It returns True if the values are equal, otherwise False. 
# For example
AI = 14
DS = 14
score_equal = (AI == DS)
print(is_equal)

if x == y:
    print("x and y are equal")
else:
    print("x and y are not equal")

True
x and y are not equal

## Data types of variables

In [24]:
# Integer variable
a = 13
# Floating-point variable
b = 5.67
# String variable
name = "Affan Zulfiqar"
# Boolean variable
cat = True
print(b)
print(cat)

5.67
True

## Rules for variables name and usage:

In [ ]:
  # Rules for variable names
# Variable names can contain letters both uppercase and lowercase, digits, and underscores.
# They cannot start with a digit.
# Variable names are case-sensitive.
# They cannot contain spaces or special characters except underscores.
# Variable names cannot be Python keywords or reserved words.

#Invalid Variable Names
2sport = "Footbal" #start with constant
sp@ort = "Ball" # special character in Variable name
sp ort = "Bat" #Space in Variable name
def = "function" # keyword in variable name

#Valid Variable Names
my_score = 10  # containing lowercase letters and underscore
playerName = "Affan"  #  containing both uppercase and lowercase letters, and digits also.
_teamwins = True  #  starting with an underscore
Team_Average = 16.87  #containing uppercase letters and underscore

## Declare and initialize multiple variables in a single line

In [3]:
# Single variable with multiple values
Haseeb = "Hostel B",225,7890
print(Haseeb)
Noman = "Hostel A",106,5670
print(Noman)

# Multiple variables with single values
x = y = z = 786
print(x)
print(y)
print(z)

Affan = Rafay = Zaryab = "AI"
print(Affan)
print(Zaryab)
print(Rafay)

('Hostel B', 225, 7890)
('Hostel A', 106, 5670)
786
786
786
AI
AI
AI

## Arithmetic operations on integers and floating-point numbers

In [8]:
# Arithmetic operations on integers
a = 128
b = 37
Iadd = a + b
Isub = a - b
Imultiply = a * b
Idiv = a / b
Ioutput = a//b # Output in integer value
print(Idiv)
print(Ioutput)
# Arithmetic operations on floating-point numbers
c = 5.68
d = 1.43
Fadd = a + d
Fsub = a - d
Fmultiply = c * d
Fdiv = c / d
print(Fmultiply)

3.4594594594594597
3
8.122399999999999

## Different quotes for string literals

In [22]:
# Using single quotes
single = 'This is AI-Blue'

# Using double quotes
double = "This is Programming Lab"

# Using double quotes when the string contains a single quote
double_with_single = "This is 4th 'Semester'"

# Using single quotes when the string contains double quotes
single_with_double = 'This is "PAF-IAST"'

print(double)
print(double_with_single)

This is Programming Lab
This is 4th 'Semester'

## Using print() funtion for output

In [14]:
Rafay = 9
print(Rafay)       # Output a variable
Zaryab = 14
print(Rafay,Zaryab)  # multiple variables output

# using f-strings to format output
name = "Rafay"
age = 20
print(f"My classmate is {name} and he is {age} years old.")

#  using f-strings to manipulate variables in output
length = 12
width = 5.6
area = length * width
print(f"The area of the rectangle is {area}.")

# String and Int variable Output
a= "Tanveer"
b = "Score is"             # use str for variable which have type int
c = 56                      # no space in between strings (+)
print(a + b + str(c))

a= "Raja Score"
b = "is"                # have space in between strings (,)
c = 47
print(a , b , c)

9
9 14
My name is Rafay and I am 20 years old.
The area of the rectangle is 67.19999999999999.
TanveerScore is56
Raja Score is 47