# LAB 2 and 3 (Class Tasks)

### Task 1

In [19]:
Babar = 3
Shan = 12
Salah = 4
Mane = 3
Raja = 7

print(Babar)
print(Shan)
print(Salah)
print(Mane)
print(Raja)

Mean = 23.4
Average = 34.6
Runrate = 1.65
Velocity = 32.5
Acceleration = 40.6

print(Mean)
print(Average)
print(Runrate)
print(Velocity)
print(Acceleration)

Complex1 = 2 + 3j
Complex2 = 5j 
Complex3 = 7j
Complex4 = 4 + 5j
Complex5 = 7 + 6j

print(Complex1)
print(Complex2)
print(Complex3)
print(Complex4)
print(Complex5)

print(type(Babar))
print(type(Mean))
print(type(Complex1))

3
12
4
3
7
23.4
34.6
1.65
32.5
40.6
(2+3j)
5j
7j
(4+5j)
(7+6j)
<class 'int'>
<class 'float'>
<class 'complex'>

### Task 2

In [16]:
Babar = 3
Shan = 12
Salah = 4
Mane = 3
Raja = 7

# Convert from int to float
a = float(Babar)
b = float(Salah)
c = float(Mane)
print(a)
print(b)
print(c)

# Convert from float to int
Mean = 23.4
Average = 34.6
Runrate = 1.65
Velocity = 32.5
Acceleration = 40.6

d = int(Average)
e = int(Runrate)
f = int(Velocity)
print(d)
print(e)
print(f)

# Convert from int to Complex
x = complex(Babar)
y = complex(Salah)
z = complex(Mane)
print(x)
print(y)
print(z)

3.0
4.0
3.0
34
1
32
(3+0j)
(4+0j)
(3+0j)

### Task 3

In [32]:
# Single Variable to Multiple Values
Student = "Affan Zulfiqar", "B22F0144AI050", "AI", 4
print("Student data :", Student)

Student data : ('Affan Zulfiqar', 'B22F0144AI050', 'AI', 4)

### Task 4

In [30]:
# finding length of string
txt = " This is Programming lab "
print("Length of Text",len(txt))

Length of Text 25

### Task 5

In [34]:
# using slicing to extract a substring
myCountry = "Pakistan"
print(myCountry[5:8])

tan

### Task 6

In [36]:
# using slicing to extract a substring from end
Name = "Affan"
print(Name[-4:-2])

ff

### Task 7

In [40]:
Name = "Affan"
Age = 21
City = "Karachi"
Grade = "A"

# Without index numbers in the format function
withoutindex= f"My name is {Name}, I am {Age} years old, and I live in {City}. My grade is {Grade}."
print(withoutindex)

# Using index numbers in the format function


withindex = "{0} is {1} years old, lives in {2}, and got grade {3}."
print(withindex.format(name, age, city, grade))

My name is Affan, I am 21 years old, and I live in Karachi. My grade is A.
Affan is 21 years old, lives in Karachi, and got grade A.

### Task 8

In [42]:
# Taking input from the user
name = input("Enter your name: ")
age = input("Enter your age: ")

# Displaying the input 
print("{}'s age is: {}".format(name, age))

Enter your name:  Affan
Enter your age:  21

Affan's age is: 21