# Lab 4 and 5 (Class Tasks)

## 1.	Access List Items:
#### •	Create a list of fruits.
#### •	Print the first and last items of the list.

In [1]:
#list of fruits
fruits = ['apple', 'banana', 'orange', 'lychee', 'strawberry']

# first item of the list
print("First item:", fruits[0])

# last item 
print("Last item:", fruits[-1])

First item: apple
Last item: strawberry

## 2.	Change List Items:
#### •	Create a list of colors.
#### •	Change the second item in the list to "blue".

In [41]:
# list of colors
colors = ['red', 'green', 'yellow', 'white']

#  original list of colors
print("Original list of colors:", colors)

# Change the second item in the list 
colors[1] = "blue"

# here I print updated list of colors
print("Updated list of colors:", colors)

Original list of colors: ['red', 'green', 'yellow', 'white']
Updated list of colors: ['red', 'yellow', 'white']

## 3.	Add List Items:
#### •	Create a list of numbers.
#### •	Add the number 10 at the end of the list.

In [3]:
# list of numbers
numbers = [9, 4, 8, 7, 9]

# original list of numbers
print("Original list of numbers:", numbers)

# place number 10 at the end of the list
numbers.append(10)

# Printing the updated list 
print("Updated list of numbers:", numbers)

Original list of numbers: [9, 4, 8, 7, 9]
Updated list of numbers: [9, 4, 8, 7, 9, 10]

## 4. Remove List Items:
#### •	Create a list of animals.
#### •	Remove the third item from the list.

In [7]:
# list of animals
animals = ['lion', 'elephant', 'tiger', 'giraffe', 'zebra']

# Print the original list of animals
print("list of animals:", animals)

# Remove the third item from the list
del animals[3]

# Print the updated list of animals
print("Updated list of animals:", animals)

list of animals: ['lion', 'elephant', 'tiger', 'giraffe', 'zebra']
Updated list of animals: ['lion', 'elephant', 'tiger', 'zebra']

## 5.	Loop Lists:
#### •	Create a list of cities.
#### •	Loop through the list and print each city.

In [6]:
# list of cities
cities = ['Karachi', 'Riyadh', 'Haripur', 'Islamabad', 'Mansehra']

# Loop through the list and print each city names
print("List of cities:")
for city in cities:
    print(city)

List of cities:
Karachi
Riyadh
Haripur
Islamabad
Mansehra

## 6.	List Comprehension:
#### •	Create a list of numbers from 1 to 10.
#### •	Use list comprehension to create a new list containing the square of each number.

In [ ]:
# list of numbers from 1 to 10
numbers = [i for i in range(1, 11)]

# new list containing the square of each number
squares = [num ** 2 for num in numbers]

# list of numbers
print(" list of numbers:", numbers)

#  list containing the square of each number
print("List of squares:", squares)

## 7.	Sort Lists:
#### •	Create a list of names.
#### •	Sort the list alphabetically

In [ ]:
names = ['Affan', 'Tanveer', 'Zaryab', 'Mohiz', 'Rafay'] # list of names
#  list of names
print("list of names:", names)
# Sort the list 
names.sort()
# here printing the sorted list 
print("Sorted list of names:", names)

## 8.	Copy Lists:
#### •	Create a list of fruits.
#### •	Copy the list into a new list.

In [9]:
# list of fruits
fruits = ['cherry', 'grape', 'banana', 'strawberry']

# list of fruits
print("List of fruits:", fruits)

# Copy the list into a new list
fruits_copy = fruits.copy()

# printing the copied list 
print("Copied list of fruits:", fruits_copy)

List of fruits: ['cherry', 'grape', 'banana', 'strawberry']
Copied list of fruits: ['cherry', 'grape', 'banana', 'strawberry']

## 9.	Join Lists:
#### •	Create two lists of numbers.
#### •	Join the two lists into a single list

In [ ]:
# Two lists of numbers
Team_alpha = [1, 2, 3]
Team_beta = [4, 5, 6]

# joining the two lists into a single list
joined_list = Team_alpha + Team_beta

# Print the joined list
print("Joined list:", joined_list)

## 10.	List Methods:
#### •	Create a list of fruits.
#### •	Use the append() method to add a new fruit to the list.
#### •	Use the pop() method to remove the last fruit from the list.

In [ ]:
# list of fruits
fruits = ['strawberry', 'cherry', 'grape', 'orange']
# Printing the list of fruits
print("Original list of fruits:", fruits)
# Using append() to add a new fruit to the list
fruits.append('grape')
# Printing updated list 
print("List of fruits after appending:", fruits)
# Using the pop() to remove the last fruit 
removed_fruit = fruits.pop()

# Printing removed fruit and the updated list of fruits after popping
print("Removed fruit:", removed_fruit)
print("List of fruits after popping:", fruits)

## 11.	Combining Lists and List Comprehension:

#### •	Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.
#### •	Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [12]:
# Creating two lists which contain numbers
first_list = [5, 8, 9, 7, 2]
second_list = [8, 4, 12, 23, 11]
# Using list comprehension to create a new list containing the sum of corresponding elements
sum_list = [x + y for x, y in zip(first_list, second_list)]

# Print the original lists
print("List 1:", first_list)
print("List 2:", second_list)

# Printing new list containing the sum of corresponding elements
print("List containing the sum of corresponding elements:", sum_list)

List 1: [5, 8, 9, 7, 2]
List 2: [8, 4, 12, 23, 11]
List containing the sum of corresponding elements: [13, 12, 21, 30, 13]

## 12.	Filtering and Sorting:
#### Create a list of numbers.
#### •	Use list comprehension to create a new list containing only the even numbers from the original list.
#### •	Sort the new list in descending order.

In [30]:
# create a list which contain numbers
Team_Haripur = [12, 3, 7, 9, 19, 6]
# new list which contain only even numbers
even = [x for x in Team_Haripur if x % 2 == 0]
# sort in descending order
even.sort(reverse=True)
print(even)

[12, 6]

## 13.	List Slicing and Reversing:
#### •	Create a list of numbers from 1 to 10.
#### •	Use list slicing to create a new list containing only the even numbers from the original list, in reverse order.

In [36]:
# creating a list of two numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# list containing even numbers with slicing
even_reverse= numbers [::1][::-2]
# printing the reverse list of even numbers
print(even_reverse)

[10, 8, 6, 4, 2]