In [2]:
Alpha = "This is string"
beta = 23
print (Alpha + beta)

TypeError: can only concatenate str (not "int") to str

In [37]:
# Missing colon at the end of the if statement
x = 5
if x == 5
    print("x is equal to 5")

SyntaxError: expected ':' (1528395589.py, line 3)

In [38]:
# Indentation error
def my_function():
print("This is my function")

IndentationError: expected an indented block after function definition on line 2 (284669172.py, line 3)

In [3]:
Team A= 22
Team B= 45
print(TeamA + Team B)

SyntaxError: invalid syntax (1994615942.py, line 1)

In [39]:
@colors =['orange','yellow','blue']
print(colors[1])

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1613319091.py, line 1)

In [40]:
from statistics import mean
1match = [30,42,64,56]
avg_match = mean(1match)
print(avg_match)

SyntaxError: invalid decimal literal (368861306.py, line 2)

In [41]:
class = 11
class1 = 20
if class > class1 :
    print("class is greater")
else:
    print("class1 is greater")

SyntaxError: invalid syntax (3925528281.py, line 1)

In [42]:
fruit@s = ["strawberry","banana","apple"]
for x in fruit@s:
    print (x)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2221610698.py, line 1)

In [43]:
import math
&number = math.sqrt(64)
print(&number)

SyntaxError: invalid syntax (3749332540.py, line 2)

In [8]:
# str to int
num = "123"
num_int = int(num)
print(num_int)

123

In [9]:
# str to float
number = "3.14"
float_number = float(number)
print(float_number)

3.14

In [16]:
# int to str
number = 518
str_num = str(number)
print(type(str_num))

<class 'str'>

In [17]:
# list to tuple
num_list = [1,23,34,76]
num_tuple = tuple(num_list)
print(num_tuple)

(1, 23, 34, 76)

In [18]:
# int to float
Babar = 56
babar_float = float(Babar)
print(babar_float)

56.0

In [27]:
# str to int
Name = "Affan"
Name_int = int(Name)
print(Name_int)

ValueError: invalid literal for int() with base 10: 'Affan'

In [26]:
# str to float
Department = "AI"
Dept_float = float(Department)
print(Dept_float)

ValueError: could not convert string to float: 'AI'

In [34]:
# list to int
list_value = [1, 2, 3]
integer_value = int(list_value)
print(integer_value)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [35]:
# comple to int
complex_value = 2 + 3j
integer_value = int(complex_value)
print(integer_value)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [36]:
# str to int
string_value = "3.14"
integer_value = int(string_value)
print(integer_value)

ValueError: invalid literal for int() with base 10: '3.14'