## Task 1:

In [9]:
def Affan():
    print("Name: Affan Zulfiqar")
    print("Registration No: B22F0144AI050")

Affan()

Name: Affan Zulfiqar
Registration No: B22F0144AI050

## Task 2:

In [79]:
def AI_BLUE(name):
    print("My name is:",name)
AI_BLUE(name = "Affan Zulfiqar")

My name is: Affan Zulfiqar

## Task 3:

In [86]:
def AI_BLUE(name,Reg_no,section,department):
    print("My name is:",name)
    print("My Registration No:",Reg_no)
    print("Section:",section)
    print("Department:",department)

AI_BLUE(name = "Affan Zulfiqar", Reg_no="B22F0144AI050",section="AI-Blue", department="IT & CS")

My name is: Affan Zulfiqar
My Registration No: B22F0144AI050
Section: AI-Blue
Department: IT & CS

In [5]:
def my_function(fname, lname):
  print(fname + " Rafay " + lname)

my_function("Abdul", "Khalid")

Abdul Rafay Khalid

## Keyword Arguments

In [8]:
def my_function(stud3, stud2, stud1):
  print("The youngest student is " + stud3)

my_function(stud1 = "Tanveer", stud2 = "Raja", stud3 = "Rafay")

The youngest student is Rafay

## Arbitrary arguments

In [13]:
def my_function(*stud):
  print("The youngest student is " + stud[1])

my_function("Rafay", "Raja", "Zaryab")

The youngest student is Raja

In [85]:
def my_function(food):
  result= []
  for x in food:
      result.append(x)
  return result

fruits = ["apple", "banana", "cherry"]
print(my_function(fruits))
print("Now print fruit on index 1:")
my_function(fruits[1:2])

['apple', 'banana', 'cherry']
Now print fruit on index 1:

['banana']

In [78]:
current_year = 2048

def calculate_age(birth_year):
  age = current_year - birth_year
  return age

print("year",current_year)

print(calculate_age(1970))

year 2048
78