## Data Loading

In [15]:
import csv
# Loading dataset into a Python list
students = []

with open('student_grades.csv', 'r') as file:
    reader = csv.DictReader(file)
    for row in reader:
        # Converting grades to integers
        row['SE'] = int(row['SE'])
        row['Linear Algebra'] = int(row['Linear Algebra'])
        row['AI'] = int(row['AI'])
        row['OS'] = int(row['OS'])
        row['Database'] = int(row['Database'])
        students.append(row)
for student in students:
    print(student)

{'Name': 'Affan Zulfiqar', 'Age': '21', 'SE': 93, 'Linear Algebra': 84, 'AI': 96, 'OS': 78, 'Database': 93}
{'Name': 'Raja Iqbal', 'Age': '22', 'SE': 88, 'Linear Algebra': 75, 'AI': 85, 'OS': 72, 'Database': 86}
{'Name': 'Zaryab Hassan', 'Age': '20', 'SE': 84, 'Linear Algebra': 68, 'AI': 89, 'OS': 56, 'Database': 83}
{'Name': 'Abdul Mohiz', 'Age': '22', 'SE': 76, 'Linear Algebra': 58, 'AI': 75, 'OS': 67, 'Database': 84}
{'Name': 'Qasim Khan', 'Age': '20', 'SE': 91, 'Linear Algebra': 79, 'AI': 86, 'OS': 81, 'Database': 81}
{'Name': 'Tanveer Younas', 'Age': '21', 'SE': 93, 'Linear Algebra': 87, 'AI': 81, 'OS': 86, 'Database': 95}
{'Name': 'Rafay Khalid', 'Age': '19', 'SE': 89, 'Linear Algebra': 78, 'AI': 78, 'OS': 84, 'Database': 92}
{'Name': 'Ehtisham Saleem', 'Age': '20', 'SE': 82, 'Linear Algebra': 71, 'AI': 74, 'OS': 81, 'Database': 82}
{'Name': 'Khizer Iqbal', 'Age': '22', 'SE': 78, 'Linear Algebra': 74, 'AI': 84, 'OS': 65, 'Database': 73}
{'Name': 'Abdul Haseeb', 'Age': '22', 'SE': 67, 'Linear Algebra': 64, 'AI': 82, 'OS': 68, 'Database': 82}
{'Name': 'Momin Khan', 'Age': '21', 'SE': 72, 'Linear Algebra': 88, 'AI': 64, 'OS': 72, 'Database': 89}
{'Name': 'Daniyal Afridi', 'Age': '21', 'SE': 73, 'Linear Algebra': 64, 'AI': 63, 'OS': 81, 'Database': 64}
{'Name': 'Wajid Riaz', 'Age': '23', 'SE': 69, 'Linear Algebra': 72, 'AI': 75, 'OS': 84, 'Database': 76}

## Function Creation

In [13]:
def calculate_average(grades):
    """Calculate the average of a list of grades."""
    return sum(grades) / len(grades)

## Data Analysis

In [7]:
# Initializing variables to track highest and lowest grades for each subject
subjects = ['SE', 'Linear Algebra', 'AI', 'OS', 'Database']
highest_grades = {subject: float('-inf') for subject in subjects}
lowest_grades = {subject: float('inf') for subject in subjects}

# Iterating over each student's grades and calculating their average
for student in students:
    grades = [student[subject] for subject in subjects]
    average = calculate_average(grades)
    print(f"{student['Name']}'s average grade: {average:.2f}")

    # Updating highest and lowest grades for each subject
    for subject in subjects:
        highest_grades[subject] = max(highest_grades[subject], student[subject])
        lowest_grades[subject] = min(lowest_grades[subject], student[subject])

print(f"Highest grades: {highest_grades}")
print(f"Lowest grades: {lowest_grades}")

Affan Zulfiqar's average grade: 88.80
Raja Iqbal's average grade: 81.20
Zaryab Hassan's average grade: 76.00
Abdul Mohiz's average grade: 72.00
Qasim Khan's average grade: 83.60
Tanveer Younas's average grade: 88.40
Rafay Khalid's average grade: 84.20
Ehtisham Saleem's average grade: 78.00
Khizer Iqbal's average grade: 74.80
Abdul Haseeb's average grade: 72.60
Momin Khan's average grade: 77.00
Daniyal Afridi's average grade: 69.00
Wajid Riaz's average grade: 75.20
Highest grades: {'SE': 93, 'Linear Algebra': 88, 'AI': 96, 'OS': 86, 'Database': 95}
Lowest grades: {'SE': 67, 'Linear Algebra': 58, 'AI': 63, 'OS': 56, 'Database': 64}

## Performance Improvement

In [14]:
def grade_to_letter(grade):
    """Converting a numerical grade to a letter grade."""
    if grade >= 90:
        return 'A'
    elif grade >= 80:
        return 'B'
    elif grade >= 70:
        return 'C'
    elif grade >= 60:
        return 'D'
    else:
        return 'F'

# Reset index for while loop
index = 0

while index < len(students):
    student = students[index]
    grades = [student[subject] for subject in subjects]
    average = calculate_average(grades)
    letter_grade = grade_to_letter(average)
    print(f"{student['Name']}'s average grade: {average:.2f} ({letter_grade})")

    # Update highest and lowest grades for each subject
    for subject in subjects:
        highest_grades[subject] = max(highest_grades[subject], student[subject])
        lowest_grades[subject] = min(lowest_grades[subject], student[subject])

    index += 1

print(f"Highest grades: {highest_grades}")
print(f"Lowest grades: {lowest_grades}")

Affan Zulfiqar's average grade: 88.80 (B)
Raja Iqbal's average grade: 81.20 (B)
Zaryab Hassan's average grade: 76.00 (C)
Abdul Mohiz's average grade: 72.00 (C)
Qasim Khan's average grade: 83.60 (B)
Tanveer Younas's average grade: 88.40 (B)
Rafay Khalid's average grade: 84.20 (B)
Ehtisham Saleem's average grade: 78.00 (C)
Khizer Iqbal's average grade: 74.80 (C)
Abdul Haseeb's average grade: 72.60 (C)
Momin Khan's average grade: 77.00 (C)
Daniyal Afridi's average grade: 69.00 (D)
Wajid Riaz's average grade: 75.20 (C)
Highest grades: {'SE': 93, 'Linear Algebra': 88, 'AI': 96, 'OS': 86, 'Database': 95}
Lowest grades: {'SE': 67, 'Linear Algebra': 58, 'AI': 63, 'OS': 56, 'Database': 64}